@model FinApps.SSO.MVC4.Controllers.UpdateProfileViewModel

@using (Html.BeginForm( "UpdateProfile", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.PostalCode)
                @Html.TextBoxFor(m => m.PostalCode)
            </li>
        </ol>
        <input type="submit" value="Update Profile" />
    </fieldset>
}